{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.first_name %}
        <h2>Watchlist for {{ user.first_name }}:</h2>
    {% else %}
        <h2>Your watchlist:</h2>
    {% endif %}
    {% for listing in watchlist %}
        <div class="card flex-row active_listings">
            <div class="card-header border-0">
                <img src="{{ listing.listing_url }}" alt="listing_img" style="width:300px;">
            </div>
            <div class="card-block px-2" style="margin-top: 10px; width:100%;">
                <h4 class="card-title">{{ listing.title }}</h4>
                <p class="card-text">Price: ${{ listing.starting_bid }}</p>
                <p class="card-text" style="font-size: 10px;">Created: {{ listing.created }}</p>
                <a href="{% url 'listing_details' listing.id %}" class="btn watching">Look for details</a>
                <a href="{% url 'toggle_watchlist' listing.id %}" class="btn watching">Remove from the wishlist</a>
                {% if not listing.active %}
                    <button class="btn btn-danger" disabled="true" >The auction is closed</button>
                {% endif %}
            </div>
        </div>
    <br />
    {% empty %}
        <p style="color:#7c4a24; font-size: 30px;">No items in the wishlist yet...</p>
    {% endfor %}
    
{% endblock %}